.home {
  height: 100%;
  width: 100%;
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home h2 {
  font-family: "Poppins";
  font-style: normal;
  line-height: 40px;
  color: #2b2b2b;
}

.first-container {
  display: flex;
  margin: 0rem 12rem;
}
.first-container__left-side img {
  width: 650px;
  height: 460px;
  border-radius: 10px;
  margin-right: 2rem;
}

.first-container__right-side {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 220px);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.first-container__right-side img {
  width: 400px;
  height: 220px;
  border-radius: 10px;
}

.second-container {
  display: flex;
  margin: 5rem 12rem;
}

.wrapper {
  margin-right: 1rem;
}
.wrapper h3 {
  margin: 0;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 32px;
}

.wrapper span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #2b2b2b;
}

.chef-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
  position: relative;
  
}

.stepper {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  position: absolute;
  top: 5rem;
  
}
.card {
  position: absolute;
  width: 466px;
  height: 351px;
  left: 35%;
  top: 20%;
  background: #ffffff;
  box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  
}

.card img, .stepper img {
  border-radius: 50%;
}

.food-guide {
  display: flex;
  flex-direction: column;
 width: 80%;
  text-align: center;
  position: relative;
}

.food-guide h3 {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  /* border-bottom:2px solid black; */
}
.food-guide h2{
  position: absolute;
width: 132px;
height: 5px;
left: 1705px;
top: 3277px;

background: #342679;
}

.vegetable {
  width: 300px;
  position: absolute;
  top:15%;
  left: 1rem;
  text-align: center;
}
.whole {
  position: absolute;
  width: 300px;
  top:15%;
  right: 1rem;
  text-align: center;
}
.fruits {
  width: 300px;
  position: absolute;
  bottom: 15%;
  left: 1rem;
  text-align: center;
}
.protein {
  position: absolute;
  width: 300px;
  bottom: 15%;
  right: 1rem;
  text-align: center;

}
