.header {
  padding:1rem;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0px;
    top: 0px;
    background: #ffffff;
    box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.2);
  }
  .companyLogo{
  position:relative;
  }